@model ProjectPlanner.ViewModels.EditPasswordViewModel

<div class="text-center">
    <button type="button" id="btnasd" data-target="#passwordModal" data-toggle="modal" class="btn btn-block edit-password-btn">
        Change Password
    </button>
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="passwordForm" asp-controller="Account" asp-action="EditPassword" data-ajax-success="success" data-ajax="true" data-ajax-loading="#spinner" data-ajax-method="POST" data-ajax-complete="completed">
                    <div class="modal-header text-center">
                        <h4 class="modal-title tab-header">Change Password</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Current Password</label>
                                    <input id="passwordInput" asp-for="@Model.Password" type="password" class="form-control" />
                                </div>
                                <div class="text-center">
                                    <span asp-validation-for="@Model.Password"></span>
                                    <p id="failedChange" class="alert-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">New Password</label>
                                    <input  asp-for="@Model.NewPassword" type="password" class="form-control" />
                                </div>
                                <div class="text-center">
                                    <span asp-validation-for="@Model.NewPassword"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Confirm New Password</label>
                                    <input asp-for="@Model.ConfirmNewPassword" type="password" class="form-control" />
                                </div>
                                <div class="text-center">
                                    <span asp-validation-for="@Model.ConfirmNewPassword"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p id="successChange" class="alert-success"></p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group justify-content-center">
                                    <button type="submit" class="btn edit-user-btn">Save</button>
                                </div>
                            </div>
                        </div>
                        <span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
