@model ProjectPlanner.ViewModels.EditPasswordViewModel


<form asp-controller="Account" asp-action="EditPassword" id="mainForm"data-ajax-method="POST" data-ajax-confirm= "Are you sure ?" data-ajax-mode="replace" data-ajax-update="#mainForm" data-ajax-complete="completed">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="control-label">Current Password</label>
                <input asp-for="@Model.Password" type="password" class="form-control" />
            </div>
            <div class="text-center">
                <span asp-validation-for="@Model.Password"></span>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input asp-for="@Model.NewPassword" type="password" class="form-control" />
            </div>
            <div class="text-center">
                <span asp-validation-for="@Model.NewPassword"></span>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="control-label">Confirm New Password</label>
                <input asp-for="@Model.ConfirmNewPassword" type="password" class="form-control" />
            </div>
            <div class="text-center">
                <span asp-validation-for="@Model.ConfirmNewPassword"></span>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group justify-content-center">
                <button type="submit" class="btn edit-user-btn">Save</button>
            </div>
        </div>
    </div>
</form>   

<script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script>
    completed = function (xhr) {
        alert('Wow {xhr.responseText}, you are brave');
    };
</script>                                             